* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body{
  overflow-x: hidden;
}

section {
  height: 100%;
  width: 100%;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 40px;
}

.part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

nav h1 {
  font-size: 40px;
}

nav h1 i {
  display: inline-block;
  rotate: 45deg;
  font-size: 40px;
}

nav h4 {
  font-size: 25px;
  font-weight: 500;
}

nav button {
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 10px;
  font-weight: 600;
  border: 2px solid #000;
}

.center {
  padding: 30px 40px;
  height: 66%;
  width: 100%;
  display: flex;
}

.center-part1 {
  height: 100%;
  width: 40%;
}

.center-part1 h1 {
  font-size: 40px;
  line-height: 1.2;
}

.center-part1 p {
  font-size: 24px;
  width: 95%;
  margin-top: 22px;
  margin-bottom: 25px;
}

.center-part1 button {
  background-color: #000;
  color: aliceblue;
  border-radius: 10px;
  padding: 18px 40px;
  font-size: 25px;
  font-weight: 600;
  border: none;
}

.center-part2 {
  height: 100%;
  width: 60%;
}

.center-part2 img {
  position: absolute;
  right: 0;
  top: 125px;
  height: 64%;
}

.section1bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 120px;
}

.section1bottom img {
  height: 45px;
}

.section2 .services {
  padding: 40px 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  gap: 30px;
}

.services h3 {
  background-color: #9ae975;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 40px;
}

.services p {
  width: 55%;
  font-size: 20px;
  font-weight: 500;
}

.container {
  height: 86vh;
  gap: 50px;
  width: 100%;
  padding: 40px 120px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.elem {
  flex-shrink: 0;
  height: 225px;
  width: 42.5%;
  border: 3px solid black;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 15px 0 black;
  display: flex;
}

.elem-part1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.elem-part2 {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elem-part2 img {
  height: 40%;
}

.elem-part1 h2 {
  font-size: 31px;
  width: 90%;
  padding: 0 5px;
  border-radius: 10px;
  font-weight: 500;
  background-color: #9ae975;
}

.elem-part1 h4 {
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: 500;
  gap: 12px;
  font-weight: 900;
}

.elem-part1 h4 i{
  padding: 10px;
  background-color: black;
  color: #fff;
  border-radius: 50%;
}

.black{
  background-color: rgba(25, 22, 22, 0.95);
  color: white;
}

.black i{
  background-color: white !important;
  color: black !important;
}